{% extends 'base.html' %}

{% block title%}
Что-нибудь
{% endblock %}

{% block body%}
    Список голосовых команд:
    <div class = "center">
        <p class="lead">
        <form method="POST" action="/uploadfile" enctype="multipart/form-data">
            <input class="ok" type="file" name="file">
            <<p class="lead">
                <a href="/uploadfile" class="btn btn-lg btn-light fw-bold border-white bg-white">Загрузка</a>
            </p>
        </form>
    </div>
{% endblock %}